.helli{
    position: absolute;
    display: flex;
    width: 64px;
    height: 64px;
    background-image: url("../public/atish.gif");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1111111;
}